#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s
export RESEND_API_KEY=$(pass Development/ResendAPI)
export DATABASE_URL="postgres://postgres:postgres@localhost:5432/mydb?sslmode=disable"
export DB_HOST="localhost"
export DB_PORT="5432"
export DB_USER="postgres"
export DB_NAME="gosubscribe"
export DB_PASSWORD="postgres"

eval "$(devenv direnvrc)"

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence all output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv
