#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s
export RESEND_API_KEY=$(pass Development/ResendAPI)
export DB_HOST="localhost"
export DB_PORT="5432"
export DB_USER="joshua"
export DB_NAME="gosubscribe"
export DB_PASSWORD="postgres"

# Goose migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="postgres://joshua@localhost/gosubscribe?sslmode=disable"
export GOOSE_MIGRATION_DIR=./database/migrations

eval "$(devenv direnvrc)"

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence all output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv
